# GUI
PyQt5==5.15.11
PyQt5-Qt5==5.15.2
PyQt5_sip==12.17.0

# System Monitoring
psutil==7.0.0

# Core Utilities
numpy==1.26.4
pandas>=1.0.0
pillow==11.2.0
python-dateutil==2.9.0.post0
konlpy
jpype1
opencv-python
sentence-transformers
efficientnet-pytorch
scikit-learn
rembg

# Web Scraping
selenium==4.18.1
beautifulsoup4==4.12.3
webdriver-manager==4.0.1
lxml==5.2.0
requests==2.31.0

# Excel Processing
openpyxl>=3.0.0
xlrd==2.0.1
pywin32==306
html5lib==1.1
pywintypes

# Development Tools
colorama==0.4.6
python-dotenv==1.0.1
xlsxwriter
playwright
bs4
absl-py